--extra-index-url https://download.pytorch.org/whl/cpu
fastapi
uvicorn
python-multipart
faster-whisper
torch
aiofiles
requests
yt-dlp
google-generativeai
pydub
curl-cffi==0.14.0
transformers
accelerate
soundfile
librosa
scipy
groq
